<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.broker.orbi.servlet.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storePolicy</servlet-name>
        <servlet-class>org.broker.orbi.servlet.storePolicy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>policies</servlet-name>
        <servlet-class>org.broker.orbi.servlet.policies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consumers</servlet-name>
        <servlet-class>org.broker.orbi.servlet.consumers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spoffers</servlet-name>
        <servlet-class>org.broker.orbi.servlet.spoffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageserviceproviders</servlet-name>
        <servlet-class>org.broker.orbi.servlet.manageserviceproviders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>org.broker.orbi.servlet.services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieveServiceProfiles</servlet-name>
        <servlet-class>org.broker.orbi.servlet.retrieveServiceProfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieveVariables</servlet-name>
        <servlet-class>org.broker.orbi.servlet.retrieveVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateAndCreateSO</servlet-name>
        <servlet-class>org.broker.orbi.servlet.validateAndCreateSO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.broker.orbi.servlet.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrievePolicyVariables</servlet-name>
        <servlet-class>org.broker.orbi.servlet.retrievePolicyVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieveServiceOffers</servlet-name>
        <servlet-class>org.broker.orbi.servlet.retrieveServiceOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateVariables</servlet-name>
        <servlet-class>org.broker.orbi.servlet.validateVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>org.broker.orbi.servlet.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerNewUser</servlet-name>
        <servlet-class>org.broker.orbi.servlet.registerNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseSO</servlet-name>
        <servlet-class>org.broker.orbi.servlet.purchaseSO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runningservices</servlet-name>
        <servlet-class>org.broker.orbi.servlet.runningservices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retrieveHistory</servlet-name>
        <servlet-class>org.broker.orbi.servlet.retrieveHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyIaaSProvider</servlet-name>
        <servlet-class>org.broker.orbi.servlet.modifyIaaSProvider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/en/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storePolicy</servlet-name>
        <url-pattern>/en/storePolicy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>policies</servlet-name>
        <url-pattern>/en/policies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consumers</servlet-name>
        <url-pattern>/en/consumers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spoffers</servlet-name>
        <url-pattern>/en/spoffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageserviceproviders</servlet-name>
        <url-pattern>/en/manageserviceproviders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/en/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieveServiceProfiles</servlet-name>
        <url-pattern>/en/retrieveServiceProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieveVariables</servlet-name>
        <url-pattern>/en/retrieveVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateAndCreateSO</servlet-name>
        <url-pattern>/en/validateAndCreateSO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/en/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrievePolicyVariables</servlet-name>
        <url-pattern>/en/retrievePolicyVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieveServiceOffers</servlet-name>
        <url-pattern>/en/retrieveServiceOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateVariables</servlet-name>
        <url-pattern>/en/validateVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerNewUser</servlet-name>
        <url-pattern>/registerNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseSO</servlet-name>
        <url-pattern>/en/purchaseSO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runningservices</servlet-name>
        <url-pattern>/en/runningservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retrieveHistory</servlet-name>
        <url-pattern>/en/retrieveHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyIaaSProvider</servlet-name>
        <url-pattern>/en/modifyIaaSProvider</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>en/login</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/408.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>UBISES Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <description/>
            <url-pattern>/en/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>For all Registered Users Only</description>
            <role-name>admin</role-name>
            <role-name>enduser</role-name>
            <role-name>serviceprovider</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>BROKERAppRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!--Define roles of platform -->
    <!--End-User Role -->
    <security-role>
        <description>User Role</description>
        <role-name>user</role-name>
    </security-role>
    <!--Admin Role -->
    <security-role>
        <description>Admin Role</description>
        <role-name>admin</role-name>
    </security-role>
    <!--Service Provider Role -->
    <security-role>
        <description>Service Provider Role</description>
        <role-name>serviceprovider</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/BROKERDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
